<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= page.title %> - <%= site.title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/<%= page.theme %>.css" />
</head>
<body>
	<%- include('modules/navigation/navigation', { site: site}) %>
	<%- include(`modules/${template}/${template}`, { page: page}) %>
</body>
</html>
