<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= page.title %> - <%= site.title %></title>
	<link rel="icon" href="/res/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/res/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/res/css/<%= page.theme %>.css" />
</head>
<body>
	<div class="screen">
		<%- include('containers/parts/top/top') %>
		<%- include('containers/parts/main/main') %>
		<%- include('containers/parts/bottom/bottom') %>
	</div>
</body>
</html>
