<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= page.title %> - <%= site.title %></title>
	<link rel="stylesheet" type="text/css" href="/res/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/res/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/res/css/<%= page.theme %>.css" />
</head>
<body>
	<div class="wrapper">
		<%- include('modules/toolbar/top/toolbar-top') %>
		<div class="main">
			<%- include('modules/sidebar/left/sidebar-left') %>
			<div class="page">
				<%- include(`modules/${page.template}`) %>
			</div>
			<%- include('modules/sidebar/right/sidebar-right') %>
	</div>
</body>
</html>
